# .idea files
.idea/

# counter
Counter/counter.json

# Festival 
Festival/.idea/
Festival/stories.json

# Givers
HighestGivers/.idea/

# Moonrise
*/.idea

# scratch files
scratch.txt

# settings files
*/settings.js
*/settings.json