
# counter
Counter/counter.json

# Festival 
Festival/stories.json

# idea
*/.idea

# Rimeheart
Rimeheart/keys.txt
Rimeheart/giveaway.json

# Woodchips
Woodchips/points.json

# scratch files
scratch.txt

# settings files
*/settings.js
*/settings.json

# other people's stuff
TempBonusCurrency
OBSRemoteParameters
SLOBSRemoteParameters