# .idea files
.idea/

# counter
Counter/counter.json

# Festival 
Festival/.idea/
Festival/stories.json

# Givers
HighestGivers/.idea/

# Moonrise
*/.idea

# Rimeheart
Rimeheart/keys.txt
Rimeheart/giveaway.json

# scratch files
scratch.txt

# settings files
*/settings.js
*/settings.json

# other people's stuff
TempBonusCurrency
OBSRemoteParameters
SLOBSRemoteParameters